body{
    font-family: 'cursive', Helvetica, sans-serif, serif;
    background:rgb(0, 0, 0);
}


.superior{
    width: 100%;
    left: 0px;
    top: 0px;
    height: 136px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.LogoMenu{
    float: right;
    width: 320px;
    margin-top: 15px;
    margin-right: 25px ;
}

.navegacion{
    width: 1000px;
    margin: 00px auto;
    float: left;
    background-color: white;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li >a{
    display: block;
    padding: 1cm;
    color: rgb(7, 4, 4);
    text-decoration: none;
}


.menu li a:hover{
    background-color: #F8F9F9;
    transition: all .3s;
    width: fit-content;
}

.submenu{
    position: absolute;
    width: 130%;
    background: white;
    display: none;
}



.menu li :hover .submenu{
    display: block;
}

.submenu li a{
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.menu li:hover .submenu{
    display: block;
}

.seccion{
    display: block;
}

.imagen-restaurante{
    float: left;
    width: 500px;
    height:400px;
    margin-top: 200px;
    margin-left: 30px;
}

.historia{
    margin-top:180px ;
    margin-left: 30px;
    display: block;
    float: left;
    width: 700px;
}

.historia h1{
    color: white;
    font-size: 35px;
}

.parrafo{
    color: white;
    line-height: 25px;
}

.section{
    margin-left: 30px;
    width: 1260px;
}

.mision{
    display: flex;
}

.mesero{
    margin-right: 30px;
    float: right;
    width: 500px;
    height:400px;
    margin-top: 100px;
    margin-left: 30px;
}

.contenido-mision{
    margin-top: 100px;
    margin-left: 30px;
}

.contenido-mision h1{
    color: white;
    font-size: 25px;
}
.texto-mision{
    color: white;
    float: left;
    width: 700px;
    line-height: 25px;
    margin-bottom: 75px;
}

.equipo{
    margin-left: 200px ;
}

.marca-de-agua > img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 570px;
    margin-right: 400px;
}

.texto-footer{
    text-align: center;
    padding: 20px;
    color: grey;
}