body{
    font-family: 'cursive', Helvetica, sans-serif, serif;
    background:rgb(0, 0, 0);
}


.superior{
    width: 100%;
    left: 0px;
    top: 0px;
    height: 136px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.LogoMenu{
    float: right;
    width: 320px;
    margin-top: 15px;
    margin-right: 25px ;
}

.navegacion{
    width: 1000px;
    margin: 00px auto;
    float: left;
    background-color: white;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li >a{
    display: block;
    padding: 1cm;
    color: rgb(7, 4, 4);
    text-decoration: none;
}


.menu li a:hover{
    background-color: #F8F9F9;
    transition: all .3s;
    width: fit-content;
}

.submenu{
    position: absolute;
    width: 130%;
    background: white;
    display: none;
}



.menu li :hover .submenu{
    display: block;
}

.submenu li a{
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.menu li:hover .submenu{
    display: block;
}

.losteria_logo{
    width: 600px;
    height: 300px;
    margin-left: 366px;
    margin-right: 366px;
    margin-top: 210px;
    
}

.linea{
    width: 600px;
    margin-top: 50px;
    margin-left: 366px;
    margin-right: 366px;
}

.opiniones{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
}

.opinion-left{
    width: 80%;
    margin-left: 40px;
    margin-top: 180px;
    
}

.opinion-left img{
    width: 100x;
    height: 100px;
    border-radius: 100px;
    margin-right: 10px;
    
}

.opinion-right{
    width: 80%;
    margin-left: 40px;
    margin-top: 180px;
    float: right;
    
}

.opinion-right .nombre{
    float: right;
}

.opinion-right img{
    width: 100x;
    height: 100px;
    border-radius: 100px;
    margin-left: 10px;
    float: right;
    
}

.fecha{
    color:#C0392B;
}

.nombre{
    color: white;
}

.p{
    color: black ;
    width: 600px;
    line-height: 25px;
    background: white;
    border-radius: 10px;
    padding: 18px;

}

.marca-de-agua > img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 570px;
    margin-right: 400px;
}

.fin{
    text-align: center;
    padding: 20px;
    color: grey;
}